HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment-specific Spring configs ###
# Em vez de ignorar todos os perfis, é comum versionar o de desenvolvimento (com dados genéricos) 
# e o de produção (com variáveis de ambiente). 
# Caso queira um arquivo totalmente local, use application-local.properties
src/main/resources/application-local.properties
src/main/resources/application.yml
src/main/resources/application-*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# macOS artifacts
.DS_Store
**/.DS_Store
